<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="author" content="Carolyn Zech">
  <title>Carolyn Zech</title>
</head>

<body>
  <header>
    <h1 class="name"><a href={{ get_url(path="/") }}>Carolyn Zech</a></h1>
    <nav>
      <a href={{ get_url(path="/news" ) }}>News</a>
      <a href={{ get_url(path="/publications" ) }}>Publications</a>
    </nav>
  </header>

  <section class="section">
    <div class="container">
      {% block content %} {% endblock content %}
    </div>
  </section>

  <div id="footer">
      &copy; Copyright 2025 by Carolyn Zech; built with <a href="https://www.getzola.org/">Zola</a>
  </div>
</body>

</html>