{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block content %}
<section class="header">
  <div class="header-container">
    <div class="header-info">
      <h1 class="header-name">Carolyn Zech</h1>
      <h2 class="header-title">PhD Candidate in Computer Science</h2>
      <h3 class="header-affiliation">Massachusetts Institute of Technology</h3>
      <div class="header-contact">
        <div class="header-links">
          <a href="https://github.com/carolynzech" class="social-icon" title="GitHub" target="_blank">
            <i class="fab fa-github"></i>
          </a>
          <a href="https://linkedin.com/in/carolynzech" class="social-icon" title="LinkedIn" target="_blank">
            <i class="fab fa-linkedin"></i>
          </a>
        </div>
        <div class="header-email">
          <a href="mailto:czech@mit.edu" class="email-container">
            <i class="fa fa-envelope"></i>
            <span class="email-text">czech@mit.edu</span>
          </a>
        </div>
      </div>
    </div>
    <div class="header-image-container">
      {% set headshot = resize_image(path='/img/headshot.png', width=400, height=400, op="fit_width") %}
      <img src="{{ headshot.url }}" class="headshot" />
    </div>
  </div>
</section>

<section>
  <div class="about">
    {% set page = get_section(path="about/_index.md") %}
    {{ page.content | safe }}
  </div>
</section>

<!-- for now, I don't feel like I have news that isn't covered by publications , so comment it out -->
<!-- <section class="news">
  {% set news = get_section(path="news/_index.md") %}
  <h2 class="section-title">{{news.title}}</h2>
  <div class="news-content">{{ news.content | safe }}</div>
</section> -->

<section>
  {% set publications = get_section(path="publications/_index.md") %}
  <h2 class="section-title">Publications</h2>
  {% for pub in publications.pages | sort(attribute="date") | reverse %}
  {{ macros::publication(pub=pub) }}
  {% endfor %}
</section>

{% endblock content %}