{% extends "base.html" %}

{% block content %}
<section>
  <div class="header">
    <h2>PhD Student</h3>
    <h3>Massachusetts Institute of Technology</h3>
    <h3>Computer Science & Artificial Intelligence Laboratory</h3>
  </div>
  <!-- todo: add github, email, linkedin icons -->
   {% set headshot = resize_image(path='/img/headshot.png', width=400, height=400, op="fit_width") %}
   <img src="{{ headshot.url }}" />
</section>

<section>
  <div class="about">
    {% set page = get_section(path="about/_index.md") %}
    {{ page.content | safe }}
  </div>
</section>

<section>
   <div class="news">
    <!-- this is where whichever entries you want to show on the home page go -->
    <!-- then you can link to a separate "all entries" page here -->
  </div>
</section>

<section>
   <div class="publications">
    <!-- this is where whichever entries you want to show on the home page go -->
    <!-- then you can link to a separate "all entries" page here -->
  </div>
</section>

{% endblock content %}